<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1y-y3TzNqZcT4S--Kq4XR7fF8DYSSqEU</string>
	<key>GCM_SENDER_ID</key>
	<string>991606466546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.hioktec.flutter.firebase.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>hiokdev-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hiokdev-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991606466546:ios:6b9c11568d40592265ad6b</string>
</dict>
</plist>